li{
    display: inline-block;
    width: 20%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    font-size: large;

}
ul{
padding: 0;
}
a{
    text-decoration: none;
    color: white;
}

.prueba{
    background-color: rgba(255, 255, 255,0.75);
    padding-bottom: 10px;
}



.contenedor{
height: 1000vh;
background-image: url("Manga_Collage1.jpg");


}

